footer.footer
  .footer__logo
    //- img(src='' alt='Akpofures logo')
  ul.footer__nav
    li: a(href='#') About me
    li: a(href='#') Become an author
    li: a(href='#') Contact me
  p.footer__copyright &copy;  by Okegbe Akpofure : A young aspiring software engineer